// @import url(./assets/style/global.scss);

*{
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

.container-editor {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  .container-main {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
  }
}
